@font-face {
  font-family: 'PLACEMONOEXTENDEDVF';
  src: url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.woff2?v=1715956221638') format('woff2'),
       url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.woff?v=1715956221220') format('woff'),
       url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.ttf?v=1715956220795') format('truetype');
}

.preview {
  font-family: "PLACEMONOEXTENDEDVF";
  width: 200vw;
  padding: 1em;
  margin-left: 30px;

}

#preview {
  font-size: 2vw;

  padding: 10px 100% 0px 0px;
  text-align: left;


  
}

#available {
  display: none;
}

@media only screen and (max-width: 450px) {
  .preview {
    font-size: 12px;
    width: 50px;
    margin-left: 10px;
  }
}

.header-container {
  font-family: "PLACEMONOEXTENDEDVF";
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em;
  width: 150px;
}

.header, .about {
  font-size: 12px;
  position: relative;
  z-index: 1;
  padding: 5px 0px;
  align-self: flex-start;
  width: 200px;
}

@media only screen and (max-width: 450px) {
  .header, .about {
    font-size: 12px;
    padding: 5px 20px;
    margin-left: 1px;
  }
}

.header-text {
  text-decoration: none;

}


.header-text:hover {
  color: #555; /* Hover color */
}

.dark-mode .header-text {
  color: white; /* Dark mode color */
}

.about-text {
  text-decoration: none;
  color: green; /* Default color */
}

.about-text:hover {
  color: #555; /* Hover color */
}

#openOverlayBtn {
  color: black;
  border: none;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 15px;
  border: 1px solid black;

}

@media only screen and (max-width: 450px) {
  #openOverlayBtn {
    color: #6a6a6a;
    padding: 5px 5px;
    font-size: 16px;
    background-color: black;
  }
}

#openOverlayBtn:hover {
  background-color: black;
  color: #6a6a6a;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border: 1px solid black;
  background-color: white;
}

@media only screen and (max-width: 450px) {
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 450px) {
  .overlay-content {
    padding: 5px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

@media only screen and (max-width: 450px) {
  .close {
    top: 10px;
    right: 5px;
    font-size: 20px;
  }
}

.close:hover {
  color: #555;
}

.overlay-content h2 {
  margin-top: 0;
}

form input,
form button {
  margin-bottom: 10px;
  display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="message"],
form button {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0px;
  box-sizing: border-box;
}

form button {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

form button:hover {
  background-color: black;
  color: white;
}

/* Default styles */
.header-container,
.header,
.about,
.header-text,
.about-text,
.close,
form input[type="text"],
form input[type="email"],
form input[type="message"],
form button {
  color: black;
}

/* Dark mode */
.dark-mode .header-container,
.dark-mode .header,
.dark-mode .about,
.dark-mode .header-text,
.dark-mode .about-text,
.dark-mode #openOverlayBtn,
.dark-mode .close,
.dark-mode form input[type="text"],
.dark-mode form input[type="email"],
.dark-mode form input[type="message"],
.dark-mode form button {
  color: white;
}

/* Specific overrides for elements */
.dark-mode #contact,
.dark-mode #about,
.dark-mode #more {
  text-decoration: line-through;
}
