@font-face {
  font-family: "Necto mono";
  src: url(https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/Necto mono?v=1698348071538);
}

@font-face {
  font-family: "roboto flex";
  src: url(https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/roboto flex?v=1698354286479);
}


#darkModeCheckbox{
  
  appearance: none;
  position: fixed;
  top: 100px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: conic-gradient(black 50%, white 50%);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(45deg);
 
}

#darkModeCheckbox:hover {
  transform: rotate(-180deg);
}
.links{
  position: relative;
  top: 100px; /* Adjust the top position as needed */
  right: 0px; /* Adjust the right position as needed */
  font-size: 100px;
  border: none;
  margin-right: 70px;
  font-family: "Necto mono";
  
  cursor: pointer;
  height: 15px;
  background-color: transparent;
 
    
}
#Ludvig{
  text-decoration: none;
  color: black;
  font-weight: thin;
}

  #Ludvig::before {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 0;
    height: 10px; /* Underline thickness */
    background-color: black; /* Underline color */
    transition: width 0.3s ease;
  }

  /* On hover, expand the underline from left to right */
 #Ludvig:hover::before {
    width: 100%;
  }

#instagram{
  text-decoration: none;
  color: black;
  font-weight: thin;
}

  #instagram::before {
    content: '';
    position: absolute;
    bottom: -190px;
    left: 0;
    width: 0;
    height: 10px; /* Underline thickness */
    background-color: black; /* Underline color */
    transition: width 0.3s ease;
  }

  /* On hover, expand the underline from left to right */
 #instagram:hover::before {
    width: 100%;
  }
#web{
  text-decoration: none;
  color: black;
  font-weight: reguler;
}
  #web::before {
    content: '';
    position: absolute;
    bottom: -330px;
    left: 0;
    width: 0;
    height: 10px; /* Underline thickness */
    background-color: black; /* Underline color */
    transition: width 0.3s ease;
  }

  /* On hover, expand the underline from left to right */
 #web:hover::before {
    width: 100%;
  }