@font-face {
  font-family: 'PLACEMONOEXTENDEDVF';
  src: url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.woff2?v=1715956221638') format('woff2'), /* Preferred format */
       url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.woff?v=1715956221220') format('woff'),   /* Fallback for older browsers */
       url('https://cdn.glitch.global/e6627670-f58c-49b5-b720-a7d016535a17/PLACEMONOEXTENDEDVF.ttf?v=1715956220795') format('truetype'); /* Fallback for very old browsers */
}
.getintouch {
  position: relative;
  max-width: 500px;
  margin-left: 30vw;
  padding: 1em;
  background-color: white;
  border-radius: 100px;
  padding-bottom: 20vh;
  

}

.getintouch .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.getintouch h2 {
  margin-bottom: 20px;
  font-family: "PLACEMONOEXTENDEDVF";
  font-size: 12px;
  text-align: left;
  color: black;
}

.getintouch form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.getintouch input[type="text"],
.getintouch input[type="email"],
.getintouch input[type="message"] {
  width: 100%;
  padding: 10px;
  border: 1px solid BLACK;
  border-radius: 0px;
  font-family: "PLACEMONOEXTENDEDVF";
  font-size: 12px;
  box-sizing: border-box;
}

.getintouch button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 0px;
  BORDER: 1px solid black;
  background-color: WHITE;
  
  color: BLACK;
  font-family: "PLACEMONOEXTENDEDVF";
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.getintouch button[type="submit"]:hover {
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  .getintouch {
    margin: 20px;
    padding: 15px;
  }

  .getintouch h2 {
    font-size: 20px;
  }

  .getintouch input[type="text"],
  .getintouch input[type="email"],
  .getintouch input[type="message"] {
    font-size: 14px;
    padding: 8px;
  }

  .getintouch button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }
}


#darkModeCheckbox{
  
  appearance: none;
  position: fixed;
  top: 100px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(45deg);
 
}

#darkModeCheckbox:hover {
  transform: rotate(-180deg);
}




/* Show dropdown content when hovered */
.links-container:hover .info-dropdown,
.social:hover .social-dropdown,
.www:hover .www-dropdown {
  display: block;
}
.links-container:hover .dropdown-content {
  display: block;
}
/* Adjust other dropdown content */
.social:hover .dropdown-content,
.www:hover .dropdown-content {
  display: block;
}

.dark-mode .website {
  color: white;
}